
h2, h4 {
    margin-top: 0;
    margin-bottom: 0;
}


li {
    padding-bottom: 5px;

}

ul {
    padding-left: 10px;
    padding-right: 10px;
    list-style-type: circle;
    list-style: inside;
    text-align: center;  
    vertical-align: middle;
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', Tahoma, Verdana, sans-serif;
    color: rgb(255, 255, 255, 0.5);
    background-color: rgb(54, 54, 54);
    width: 400px;
    height: 295px; 
}

#container {
    background-color: rgb(5, 20, 39);
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    

}
#title {
    text-align: center;
    vertical-align: center;
    padding-top: 5px;
    padding-bottom: 5px;

}

#instructions {
    border-top: 2px solid rgba(255, 255, 255, 0.75);
    
}


#speedDisplay {
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    background-color: rgb(5, 20, 39);
    text-align: center;
    font-size: medium;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

#selectedSpeedDisplay {
    background-color: rgba(200, 200, 200, 0.25);
    display: inline-block;
    position: relative;
    right: 2%;
    padding: 10px;
    border-radius: 5px;
    width: 40%
    

    
}

#lastSpeedDisplay {
    background-color: rgba(200, 200, 200, 0.25);
    display: inline-block;
    position: relative;
    left: 2%;
    padding: 10px;
    border-radius: 5px;
    width: 40%
    
 
}

#input {
    clear: both;
    background-color: rgb(5, 20, 39);
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
    padding-top: 5px;
    padding-bottom: 5px;
}

#applyButton {
    display: inline-block;
}

#defaultButton {
    display: inline-block;
}

#speedSlider {
    margin: auto;
    width: 96%;
}

#status {
    clear: both;
    text-align: center;
    padding: 10px;
    vertical-align: middle;
}