
h2, h4 {
    margin-top: 0;
    margin-bottom: 0;
}


li {
    padding-bottom: 5px;

}

ul {
    padding-left: 10px;
    padding-right: 10px;
    list-style-type: circle;
    list-style: inside;
    text-align: center;  
    vertical-align: middle;
}

button {
    background-color: rgba(200, 200, 200, 0.25); 
    border: none;
    color: rgb(255, 255, 255, 0.5);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 2px;
    padding: 5px;
    

}

button:hover {
    transition-duration: 0.25s;
    background-color: rgb(88, 60, 133); 
    
}

button:active {
    transition-duration: 0.01s;
    background-color: rgb(88, 60, 133, 0.5); 
    
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', Tahoma, Verdana, sans-serif;
    color: rgb(255, 255, 255, 0.5);
    background-color: rgb(54, 54, 54);
    width: 400px;
    height: 295px; 
}

#container {
    background-color: rgb(5, 20, 39);
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    

}
#title {
    text-align: center;
    vertical-align: center;
    padding-top: 5px;
    padding-bottom: 5px;

}

#instructions {
    border-top: 2px solid rgba(255, 255, 255, 0.75);
    
}


#speedDisplay {
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    background-color: rgb(5, 20, 39);
    text-align: center;
    font-size: medium;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

#selectedSpeedDisplay {
    background-color: rgba(200, 200, 200, 0.25);
    display: inline-block;
    position: relative;
    right: 0%;
    padding: 10px;
    border-radius: 5px;
    width: 40%
}

#lastSpeedDisplay {
    background-color: rgba(200, 200, 200, 0.25);
    display: inline-block;
    position: relative;
    left: 0%;
    padding: 10px;
    border-radius: 5px;
    width: 40%
    
 
}

#input {
    clear: both;
    background-color: rgb(5, 20, 39);
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
    padding-top: 5px;
    padding-bottom: 5px;
}

#applyButton {
    position: relative;
    width: 45%;
    right: 0%;
    
}

#defaultButton {
    position: relative;
    width: 45%;
    left: 0%;
    
    
}

/*  https://www.w3schools.com/howto/howto_js_rangeslider.asp


*/
#speedSlider {
    -webkit-appearance: none;  
    appearance: none;
    outline: none;
    border-radius: 10px;
    background: rgba(200, 200, 200, 0.25);
    opacity: 1;
    -webkit-transition: 0.25s; 
    transition: opacity 0.25s;



    margin-bottom: 5px;
    width: 91.5%;
    height: 10px;
}

#speedSlider:hover {
    opacity: 0.75;
  }


#speedSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(175, 175, 175);
    cursor: pointer;
}


#status {
    clear: both;
    text-align: center;
    padding: 10px;
    vertical-align: middle;
}

